@charset "utf-8";

.main{
	width: 980px;
	height: 1386px;
	background-color: white;
	margin: 0 auto;
}

header{
	height: 61px;
	width: 892px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid #938e8c;
	position: relative;
}

header .site{
	margin: 0;
	padding-bottom:0; 
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #FF5252;
	padding: 44.4px 27px 3px 5px;
	font-size: 12px;
	color: #fff;
	font-family: "黑体";
}

header .time{
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 3px;
	font-size: 12px;
	color: #FF5252;
	font-family: "黑体";
}

article{
	margin: 20px auto 0;
	width: 892px;
	overflow: hidden;
    position: relative;
}



.top-part .top-img{
	width: 641px;
	height: 301px;
	background-image: url(leftpic.jpg);
	float: left;

}

.top-part .top-text{
	border-top: 2px solid #cc8091;
	width: 203px;
	position: absolute;
	top:0;
	right: 0;
}

.top-part .top-text p{
	margin: 0;
}

.toptext1{
	text-decoration: underline;
	font-size: 24px;
	font-family:"微软雅黑";
	line-height: 40px;
}

.toptext2{
	text-decoration: underline;
	font-size: 24px;
	font-family:"微软雅黑";
}

.toptext3{
	font-size: 12px;
	font-style: italic;
	font-family: "楷体";
}

.toptext4{
	font-size: 116px;
	line-height: 140px;
	color: #75b86b;
	font-style: oblique;
	text-indent: -10px;
}

.top-part .top-text .toptext5{
	font-size: 55px;
	color: #cc8091;
	float: left;
}

.css {
	float: left;
	margin-left: 5px;
}

.css p:first-child{
	margin-top: 33px;
	font-size: 21px;
	line-height: 12px;	
	color: #cc8091;
}

.css p:last-child{
	font-size: 12px;
	color: #cc8091;
}

.top-content{
	clear: both;
	width: 641px;
}


.top-content .what{
	width: 40%;
	float: left;
	box-sizing: border-box;
	border-right: white solid 20px; 
}

.top-content .when{
	width: 30%;
	float: left;
	box-sizing: border-box;
	border-right: white solid 20px; 
}

.top-content .how{
	width: 30%;
	float: left;
}

.top-content .title{
	text-decoration: underline;	
	font-size: 16px;
	font-weight: bold;
}

.top-content .title1{
	color: #418c59;
}

.top-content .title2{
	color: #d2994f;
}

.top-content .title3{
	color: #cc7680;
}

.what p:last-child,.when p:last-child,.how p:nth-child(2){
	font-size: 12px;
	font-family: "宋体";
	line-height: 16px;
}

.how ul{
	padding: 0;
}

.how ul li{
	list-style: none;
	font-size: 12px;
	line-height: 16px;
}

.how ul li span{
	color: #cd4a48;
	opacity: 0.7;
}

.bottom-part{
	overflow: hidden;
	padding: 20px 0;
	width:892px;
	margin: 0;
}

.bottom-left{
	width: 415px;
	float: left;
}

.bottom-title{
	border-bottom: 2px solid #11456b;
	padding-bottom: 15px;
}

.bottom-title span{
	color: #f5e327;
	font:oblique bold 72px "黑体";
}

.bottom-title p{
	margin:0;
}

.bottom-title p:first-child{
	color: #11456b;
	font:bold 42px "黑体";
	line-height: 16px;
}

.bottom-title p:last-child{
	color: #11456b;
	font: bold 33px "黑体";
	padding-top:16px; 
	line-height: inherit;
}



.bottom-content1 p{
	font: 12px "宋体";
	line-height: 16px;
	color: #767777;
	margin:0; 
}

.bottom-content1 p:nth-child(1){
	padding-top:10px; 
}

.bottom-content1 .indent{
	text-indent: 2em;
}

.bottom-content1 span{
	color: #f5e327;
	font: 70px "微软雅黑";
	float: left;
	line-height: 70px;
	padding-right:8px; 
}

.bottom-content1 img{
	float: right;
	margin:5px 0 5px 0px; 

}

.bottom-right{
	float: right;
	padding-top: 15px;
	position: relative;
}

.right-top img{	

}
.pic-word{
	width: 458px;
	height: 61px;
	background-color: rgba(28,28,28,0.5);
	position: absolute;
	top: 209px;
	bottom: 0;
}


.pic-word p{
	height: 44px;
	border-left: 3px solid #72b16a;
	margin: 8.5px 0 0 40px;
	line-height: 50px;
	font-size:12px;
	font-style: oblique ;
	text-indent: 1em;
	color: #72b16a;
	letter-spacing: 240%;
}

.pic-word  span{
	font-size: 26px;
	color: #fff;
	font-style: normal;
	margin-right: 4px;
}

.right-bottom{
	width: 458px;
	background-color: rgb(238,237,214);
	overflow: hidden;
}

.right-bottom ul{
	list-style-image: url(ul.png);
	font: 16px "宋体";
	padding: 10px 0 10px 10%;
}

.right-bottom ul li{
	padding:10px 0;
}

footer{
	clear: both;
}

.part0{
	height: 160px;
	width: 260px;
	background-color: #d55d5c;
	color: #fff;
	float: left;
}

.zero{
	height: 86px;
	line-height: 86px;
	font-size: 110px;
	margin: 0;
	float: left;
	border-right: 2px solid #fff;
	margin: 35px 10px;
	
}

.zeroright p:first-child{	
	font: oblique 21px "黑体";
	line-height: 24px;
	margin: 0;
	padding-top: 35px;
}

.zeroright p:last-child{
	font: 12px "黑体";
	padding-bottom: 6px;
	margin: 0;
}

.parthello{
	position: relative;
	width: 180px;
	float: right;
}

.parthello p{

	font: oblique 14px "黑体"; 
	text-indent: 3em;
}

.parthello span{
	font: 72px "黑体";
	color: #d45d5c;
}

.parthello .yinhao1{
	position: absolute;
	top:-4px;
	left: -40px;
}

.parthello .yinhao2{
	position: absolute;
	right: -22px;
	bottom: -50px;
}

footer{
	clear: both;
	height: 61px;
	width: 892px;
	border-top: 1px solid #938e8c; 	
	margin: 0 auto;
	text-align: right;

}
footer p{
	color: black;
	font-size: 12px;
	color: #FF5252;
	font-family: "黑体";
	margin: 0;
}